<main class="about">
  <div class="wrapper">
    <a class="edit" href="/about/edit">
      <img src="../../../assets/icons/edit.png" alt="edit button" />
    </a>
    <div class="about_header">
      <h1>Sobre mí</h1>
      <span class="location">{{ location }}</span>
    </div>
    <div class="about_text">
      <div>
        <p>
          {{ description }}
        </p>
        <p>
          {{ description2 }}
        </p>
      </div>
      <ul>
        <li>
          <img src="../../../assets/icons/pc.png" alt="pc icon" />
          {{ sistem }}
        </li>
        <li>
          <img src="../../../assets/icons/ide.png" alt="ide icon" />
          {{ ide }}
        </li>
        <li>
          <img src="../../../assets/icons/hobby.png" alt="hobby icon" />
          {{ hobby }}
        </li>
        <li>
          <img src="../../../assets/icons/music.png" alt="music icon" />
          {{ music }}
        </li>
      </ul>
    </div>
  </div>
</main>
