@tailwind base;
@tailwind components;
@tailwind utilities;



.login_container{
    height: 100vh;
    background-image: url("../assets/login_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}